del/
jadx/
jadx_out/
.android/
apktool_framework/
apktool_mcp_workspace/
apktool_project_full/
build_apk/
InstaPrime-ko-final/
*.idsig

*.apk
*.apks
*.jar
*.zip
*.mdb
*.keystore

!apktool_project_smali/dist/
!apktool_project_smali/dist/*.apk
!apktool_project_smali/dist/*.idsig
